<% content_for :javascript do %>
  <%= javascript_include_tag "ace" %>
  <script>
    var textarea = $('#code_code').hide();
    $("#editor").text(textarea.val());
    var editor = ace.edit("editor");
    editor.$blockScrolling = Infinity;
    // editor.resize();
    editor.getSession().on('change', function(e){
      textarea.val(editor.getValue());
    });
  </script>
<% end %>
<% content_for :style do %>
<style type="text/css" media="screen">
    #editor {
        min-height: 100px;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    #editorContainer{
      min-height: 100px;
      resize: vertical;
      overflow: auto;
    }
</style>
<% end %>
<%= form_for @code, html: {class: "form-horizontal"} do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :file_name, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :file_name, class: "form-control"  %>
    </div>
    
  </div>

  <div class="form-group">
    <%= f.label :code, class: "col-lg-2 control-label" %>
    <div class="col-lg-10" id="editorContainer">
      <%= f.text_area :code, class: "form-control", rows: 9 %>
      <div id="editor"></div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Create', class: "btn btn-success pull-right" %>
  </div>
<% end %>
